/* Styles for About Us heading */
.course-heading {
    text-align: center;
    color: orange;
   font-weight: 200px;
    margin-top: 60px;
    margin-bottom: 1px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
   
   
}



